.footerStyles{
  font-family: 'IBM Plex Mono', monospace;
  
  
}
.refStyles{
  text-decoration: none;
  box-shadow: none;
  color: black;
  font-size: 15px;  
}
.refStyles:hover{

  color: black
}
.footerContainer{
  margin-top: 100px;
}