.cardStyle{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'IBM Plex Mono', monospace;
    color:black;
    border-radius: 25px;
    font-size: 23px;
    
  }
.cardName{
  font-size: 30px;
}
