
body{
  overflow-x: hidden;
  padding: 15px;
}

p{
  font-size: 19px;
  
  
}
h2{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 50px;
}
h1{
  font-size: 90px;
  font-family: 'IBM Plex Mono', monospace;
}