

.fontButton {
  font-family: 'IBM Plex Mono', monospace;
   
  
}
.logo{
  max-width: 150px;
}
.ActiveOption {
  text-decoration: none;
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 60px;
}
.Option {
  text-decoration: none;
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 25px;
}
.ActiveOption:hover { color: black; }
.Option:hover { color: black; }