

.fontButton {
  font-family: 'IBM Plex Mono', monospace;
   
  
}
.logo{
  max-width: 150px;
}
.ActiveOption {
  text-decoration: none;
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 60px;
}
.Option {
  text-decoration: none;
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 25px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  
}
.ActiveOption:hover { color: black; }
.Option:hover { color: black; }