.imgDetail{
  max-width: 300px;
}

.card-body{
  font-family: 'IBM Plex Mono', monospace;
  color: black;
  border-radius: 50px ;
  
}

.countStyles{
color: black;
}

.card-text{
  font-size: 18px;
}

